/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color:  hsl(212, 45%, 89%);
}

.container {
  border-radius: 12px;
  width: 85%;
  background-color: white;
  padding: 5%;  
}

.qr-code {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 18px;
  font-weight: 400;
  color: hsl(220, 15%, 55%)
}

img {
  width: 100%;
  border-radius: 12px;
} 
