/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color:  hsl(212, 45%, 89%);
}

.container {
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 85%;
  background-color: white;
}

img {
  width: 100%;
} 
