/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-primary: "Outfit", sans-serif;

  --header-color: hsl(218, 44%, 22%);
  --header-font-size: 20px;

  --paragraph-color: hsl(220, 15%, 55%);
  --paragraph-font-size: 15px;

  --background-color-body: hsl(212, 45%, 89%);
}

body {
  font-family: var(--font-family-primary);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-body);
}

.container {
  border-radius: 12px;
  width: 85%;
  background-color: white;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);

}

.qr-code {
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;
  align-items: center;
}

.qr-code:last-child {
  margin-bottom: 25px;
}

h1,
p {
  width: 85%;
}

h1 {
  font-size: var(--header-font-size);
  font-weight: 700;
  color: var(--header-color);
}

p {
  font-size: var(--paragraph-font-size);
  font-weight: 400;
  color: var(--paragraph-color);
  text-align: center;
}

img {
  width: 100%;
  border-radius: 12px;
}

@media screen and (max-width: 375px) {
  .container {
    width: 90%;
    padding: 5%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 23%;
    padding: 18px;
  }
}
